<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- common:logging 모듈의 공통 traceId/spanId 패턴을 가져온다 -->
    <include resource="logback-tracing-pattern.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${TRACING_CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name="com.example.chat" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>